---
Checks: 'clang-analyzer-*,
	concurrency-*,
	cppcoreguidelines-*,
	-cppcoreguidelines-non-private-member-variables-in-classes,
	-cppcoreguidelines-avoid-magic-numbers,
	misc-*,
	-misc-non-private-member-variables-in-classes,
	-misc-no-recursion,
	modernize-*,
	performance-*,
	portability-*,
	readability-*,
	-readability-identifier-length,
	-readability-magic-numbers,
	-readability-redundant-member-init,
	-readability-uppercase-literal-suffix'
...
