---
Checks: 'clang-analyzer-*,
	concurrency-*,
	cppcoreguidelines-*,
	-cppcoreguidelines-non-private-member-variables-in-classes,
	misc-*,
	-misc-non-private-member-variables-in-classes,modernize-*,
	performance-*,
	portability-*,
	readability-*,
	-readability-identifier-length,
	-readability-uppercase-literal-suffix'
...
