[*]
insert_final_newline = true
charset = utf-8
indent_size = 4
# indent_style = tab
# Optional: git will commit as lf, this will only affect local files
# end_of_line = lf

[*.{py,md,yml,sh}]
indent_style = space
indent_size = 2

