[submodule "libs/djson"]
	path = libs/djson
	url = https://github.com/karnkaul/djson
[submodule "libs/core/include/kt/result"]
	path = libs/core/include/kt/result
	url = https://github.com/karnkaul/kt-result
[submodule "libs/dlog"]
	path = libs/dlog
	url = https://github.com/karnkaul/dlog
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/dtasks"]
	path = libs/dtasks
	url = https://github.com/karnkaul/dtasks
[submodule "libs/core/include/kt/ktest"]
	path = libs/core/include/kt/ktest
	url = https://github.com/karnkaul/kt-test
[submodule "libs/core/include/kt/fixed_vector"]
	path = libs/core/include/kt/fixed_vector
	url = https://github.com/karnkaul/fixed_vector.git
[submodule "libs/decf"]
	path = libs/decf
	url = https://github.com/karnkaul/decf
[submodule "docs/doxygen_dark_theme"]
	path = docs/doxygen_dark_theme
	url = https://github.com/MaJerle/doxygen-dark-theme
