**/.vs/*
**/.vscode/*
**/compile_commands.json
**/.clangd
**/.cache
*.kdev4
Testing/*
build/*
out/*
redist/*
/.editorconfig

# RenderDoc capture config (local)
*.cap
# SPIR-V shaders (generated)
*.spv
# Visual Studio config (local)
CMakeSettings.json
# Log files (local)
debug.log*
log.txt*
levk_*.json
error.txt
# Dear ImGui config (local)
imgui.ini

# massif
massif.out.*

# CMake
/CMakeUserPresets.json

# CMakePresets.json in project root is picked by Visual Studio in CMake mode,
# so this file has been moved to cmake/, and is ignored here; copy it if desired
/CMakePresets.json

# ktl, dtest - submodules are fetched into source subdir (not binary subdir)
/libs/ktl
/libs/dtest

cmake-build-*