[submodule "libs/djson"]
	path = libs/djson
	url = https://github.com/karnkaul/djson
[submodule "libs/dlog"]
	path = libs/dlog
	url = https://github.com/karnkaul/dlog
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
	shallow = true
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "libs/dtasks"]
	path = libs/dtasks
	url = https://github.com/karnkaul/dtasks
[submodule "docs/doxygen_dark_theme"]
	path = docs/doxygen_dark_theme
	url = https://github.com/MaJerle/doxygen-dark-theme
	shallow = true
[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/karnkaul/clap
[submodule "ext/spirv_cross"]
	path = ext/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	shallow = true
[submodule "ext/physfs"]
	path = ext/physfs
	url = https://github.com/icculus/physfs
[submodule "ext/dear_imgui/src"]
	path = ext/dear_imgui/src
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "libs/dens"]
	path = libs/dens
	url = https://github.com/karnkaul/dens
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	shallow = true
[submodule "ext/dyvk"]
	path = ext/dyvk
	url = https://github.com/karnkaul/dyvk
	shallow = true
